<app-header></app-header>


<div class="container-fluid mt-4">
    <h2 class="mb-4 fw-bold">Movies move us like nothing else can</h2>
    <p class="">Whether they're scary, funny, dramatic, romantic or anywhere in between. So many titles,
        so much to experience.</p>
</div>

<div class="container-fluid mt-5 mb-5">
    <h4 class="mb-3">Suspense Films</h4>
    <div class="row flex-nowrap overflow-auto g-3 hide-scroll">
        <!-- Horizontal Scroll Cards -->
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white ">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABY3kphiYCnlt_aqKOiI3f9hLuEpcXvS4Gc1sg_pbUQOQ5cPJnMsss1HCwBKP9NcK_DSe1g5x1xTMpsYY-DfRKO47qWyQKXy9Tyjqw7r-e9AwMDqcbs4siLJ0R-SlABEKaPYtQrQuARk2gWWxZVQVxFM246aNepiYhQo81Mbvohxi_-PyEw4JGlnCnI3odDN6MOr0YJWamKCV4JXQK_9RYnw_DvTMnrgOLf0kd-deIATvbNKNXU7k7ifYULCVXI4Cyi-_JIoWbLFz23sjtrjE1T1OtvKG5eRDHb6NK6ay3eb3GhOSrGTZRxhwUsp33Wn0TlqTGYYskQf8SwtTUwp1vsM.jpg?r=c90"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Pushpa 2:The Rule </h5>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABerZZGhBNs3ouZiczbEGRPhjhTVYC317Wp4ZYik0t6jstDANAIaWFU_X3d56fiLbbBnkb99jPfqGD4-lKmzmb6l7Dz9OuoTgqq6LRYeLCcGFX6J2AMtaQjixJ8hQj8tCdWjSQlpYkQZlfjrIO4BhT_njxMh8ZsgNbVayglxQKYMNs9kZOwVRLPCKHJzncKkg6r5mwESEt-HSs9YIYxXZKQB-kneuI8qmpfhownMZaxeNgou-DXn396tPgy2aXmfuwX9pl1ZNgmpcnk2drow3WrtgJY_j2ciszvI1yVQIdqrFaR87JhMYY8LfBbDkMuXWzGcjFArWGQrgLDD_zm3QQQU.jpg?r=bd8"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Venom</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABZz8VQ43d_5lW4BbAMvbgZPdCuEOB88kRbE7xOvqVEgcXNfy6I_4Bd0yC4YOmqscXIn4Wzl9DHRqk_1G6P2U278oG-InnKo0Rw_T5JC7GzTfuA6bS_0osUxYRB5DtxZVnLjWRZK2eczOW1qMoeKyCl_ccs3JwghO1Bk.jpg?r=818"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Lucky Baskhar</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABTc75-NH8m9OKwB-UBLAIvgsjeBbBdGS_KYbADJSrQ0iyls5FNcMJxMVS_LAPpMJcWzN3YEVz57ZZ_Pd4vW47yNllfzYTNRr5jQ.jpg?r=587"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Faceless</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABeaxTEDmrmtcliEC6iMOl0ht5UcI1gEdQ5vf7t0RPNrHBfwMrdbWaUxKWfbe50kA-AfcM4mJQA-aEpvi98LS2gRoWroXRAt7gGPrkzpHOk44YJE22BAMEbCofCkowDo_KUA9.jpg?r=34b"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">The sand castle</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABfcm_craRjQj1aHv6BggwChkcyax-kZwNJa3T93voMrhch5dxQS5gD6aVZGqOOLeESl6Isz5aTjgC340NNWB3BFyG_EKD4vR_uU.jpg?r=453"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Devara</h5>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid mt-5 mb-5">
    <h4 class="mb-3">Your Next Watch</h4>
    <div class="row flex-nowrap overflow-auto g-3 hide-scroll">
        <!-- Horizontal Scroll Cards -->
        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABa_zG7wlW6_cCCIMLRRKTJfI7GfKHhYEk5wfQ0YgKHKIXEzrXQgPUg-ES5sQZivZISWDdAeENmtzYo3QL_K8vC_Q94qO3Rlcbd4.jpg?r=033"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Laapataa Ladies</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABRhybUqTpg08T8TnfSlW1TPvVx4rMoeyARJusNHmFijC4KWeaoSl9QSkEFSlLFXCZC4pITSugdJhfWa1jkM8Ina1EMepcEIntBvhg4f1kvs3f51AEJbfEFSx6B718Jng8r3j.jpg?r=e0f"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Damsel</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABetoGk0CLIkPxKr6MMuFswl25hF_gsw1TIvJakiPx32KBAPxk4wVqHDMPX2vPjBXdHr45GtWlm7ARQUlBfkMhQZ6v1akZbdncW8.jpg?r=cfe"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Jawan: Extended Cut</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABcitflFgfepdnQZS203n36C-YALbESKeqGf70Q5o1L9r6BPFS9_2KdkcRCTwleKq-2wcqTY46jL0vJOe7pzc2VUD0TgV2lfSJiL-yNlJL8zedTN2jCKcOpOztaErgGs6bm-_.jpg?r=e46"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Spellbound</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABRVjA2Ens3zytzzIc5x3XoQEXgKw5isqfhUOHvNMvIjf_UwG-fN41pcyYxHRpJ8r1sMR7vm8Bnvhe4UtaMuvj_86u3bAYWuk1jo.jpg?r=f0d"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Jigra</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABTlIPFdd7iXIJk0HskTH9mSfo1iJjwsNlK464WdN4lCEfFTGdQhT_iy96feEO_3B90-ZKxtcbJCXVMXA5BC6nIuHlRzujIt2GYbF3r57ZGbAbU8CGMfog1SKi3DpC1yYCvJO.jpg?r=878"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Sector 36</h5>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid mt-5 mb-5">
    <h4 class="mb-3">Hollywood Films</h4>
    <div class="row flex-nowrap overflow-auto g-3 hide-scroll">
        <!-- Horizontal Scroll Cards -->
        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABUCc1z7CdoSA7UpNxEULxX00-VOiHyXpsBfTmnGzXQvCQ1SeEwbKkZ8hlCACDBCoMgjRGroDfIvg4n4BQOUEmeuBlL9snzFKkjdpV27w7ulw4Bd5xS4G-D6PfFZxFKzNr6uc.jpg?r=606"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">The School for Goof and Evil</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABf6CZnfQe5t1RvxynqvZvuvimYymshre0OtHIH4c5mQiTgjWdFM5-2hnWb4GYQw-nU37HRssQ0j4OmJyRs15PZiZTtz5IIbYnak.jpg?r=ecb"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Goosebumps</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABRtK2blt19mtS4NQPxbJgMbj-84C5iYstvb1SuIxMjocSUkrunfFvjB5Az2vPjxNMxkPxDCl3PhbhNXzPhSrL-nFyzbvEhYMu-mBCmZKbasnzNFr6J-q_-8JfMMYxA_5yLlp8T5tgyk5YfjSfMvyg9FLp_D1I7j4NFt8IUtK3qz0TjndfRcH9vKEBDr0TU7zeJXwdWDvl-sB15JuDIO8IxIoAMqtYVHh0t9YydDlscHi1fC1rzlKlFU5GndS0wbe_3fwUv4Y9bt31W1F2OXwHGu5Gw.jpg?r=b4e"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Intersteller</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABbr_VIfg3BD0gVcgUyfGCKxnPIgSeiAkThrhmXHrLu0hz4jAiBocik0A71-EBfFH6CtJVAwcifC6eQWOkh4_YhRGdA1kHghVyv4.jpg?r=c5e"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">The Meg</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABWOjSCjSr3_4ATp-NM9F4uELD6b7gmaCOoIx_ozGSm3j1LOjZ11fBUkLGMQp7OvcNvFqe82f8AbPJNLwWpFuJb7ZVG0rgzKWo0g.jpg?r=d7e"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">The intern</h5>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <div class="card bg-secondary text-white">
                <img src="https://occ-0-2590-2164.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABfqe9kKVd9FNasX73KPSq5kM_0qBYnS2adRNHE3wk05DI_a1Lmlq1PuxFcozaTk1a9WwBfUHlbeq9g7UukGxS0SOnAHlblXfslk.jpg?r=8d0"
                    class="card-img-top" alt="A Wonderful World">
                <div class="card-body bg-dark">
                    <h5 class="card-title">Spider-Man:No Way Home</h5>
                </div>
            </div>
        </div>

    </div>
</div>